switch.json
[
    {
        "id": "5af3d878.4983b8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b126b408.fbb8e8",
        "type": "inject",
        "z": "5af3d878.4983b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "moltiplica",
        "payload": "4",
        "payloadType": "num",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "68253884.0a90e8"
            ]
        ]
    },
    {
        "id": "8df485c4.6cbc88",
        "type": "inject",
        "z": "5af3d878.4983b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "somma",
        "payload": "5",
        "payloadType": "num",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "cd78649f.a93f48"
            ]
        ]
    },
    {
        "id": "2cfd61c4.b12b8e",
        "type": "inject",
        "z": "5af3d878.4983b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "dividi",
        "payload": "3",
        "payloadType": "num",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "395b98f7.1fe068"
            ]
        ]
    },
    {
        "id": "68253884.0a90e8",
        "type": "function",
        "z": "5af3d878.4983b8",
        "name": "moltiplica",
        "func": "msg.payload*=4;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 140,
        "wires": [
            [
                "9a2699b9.a3cc78"
            ]
        ]
    },
    {
        "id": "cd78649f.a93f48",
        "type": "function",
        "z": "5af3d878.4983b8",
        "name": "somma",
        "func": "msg.payload+=10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 220,
        "wires": [
            [
                "9a2699b9.a3cc78"
            ]
        ]
    },
    {
        "id": "395b98f7.1fe068",
        "type": "function",
        "z": "5af3d878.4983b8",
        "name": "dividi",
        "func": "msg.payload/=2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 430,
        "y": 300,
        "wires": [
            [
                "9a2699b9.a3cc78"
            ]
        ]
    },
    {
        "id": "9a2699b9.a3cc78",
        "type": "debug",
        "z": "5af3d878.4983b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 240,
        "wires": []
    },
    {
        "id": "a954afa1.1a47e",
        "type": "inject",
        "z": "5af3d878.4983b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "moltiplica",
        "payload": "4",
        "payloadType": "num",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "6dbf0903.886178"
            ]
        ]
    },
    {
        "id": "7566e20f.976b2c",
        "type": "inject",
        "z": "5af3d878.4983b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "somma",
        "payload": "5",
        "payloadType": "num",
        "x": 200,
        "y": 520,
        "wires": [
            [
                "6dbf0903.886178"
            ]
        ]
    },
    {
        "id": "fbfc324f.a0279",
        "type": "inject",
        "z": "5af3d878.4983b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "dividi",
        "payload": "3",
        "payloadType": "num",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "6dbf0903.886178"
            ]
        ]
    },
    {
        "id": "21e4255f.db80aa",
        "type": "function",
        "z": "5af3d878.4983b8",
        "name": "moltiplica",
        "func": "msg.payload*=4;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 440,
        "wires": [
            [
                "a47fec14.2cc36"
            ]
        ]
    },
    {
        "id": "e52c987e.849838",
        "type": "function",
        "z": "5af3d878.4983b8",
        "name": "somma",
        "func": "msg.payload+=10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 520,
        "wires": [
            [
                "a47fec14.2cc36"
            ]
        ]
    },
    {
        "id": "48bb8319.9dfd3c",
        "type": "function",
        "z": "5af3d878.4983b8",
        "name": "dividi",
        "func": "msg.payload/=2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 610,
        "y": 600,
        "wires": [
            [
                "a47fec14.2cc36"
            ]
        ]
    },
    {
        "id": "a47fec14.2cc36",
        "type": "debug",
        "z": "5af3d878.4983b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 540,
        "wires": []
    },
    {
        "id": "6dbf0903.886178",
        "type": "switch",
        "z": "5af3d878.4983b8",
        "name": "operazione",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "moltiplica",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "somma",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "dividi",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 410,
        "y": 520,
        "wires": [
            [
                "21e4255f.db80aa"
            ],
            [
                "e52c987e.849838"
            ],
            [
                "48bb8319.9dfd3c"
            ]
        ]
    },
    {
        "id": "3b76f197.85eb7e",
        "type": "comment",
        "z": "5af3d878.4983b8",
        "name": "in questo caso i flussi sono indipendenti tra di loro",
        "info": "",
        "x": 290,
        "y": 80,
        "wires": []
    },
    {
        "id": "bfe2c21e.4ca0b",
        "type": "comment",
        "z": "5af3d878.4983b8",
        "name": "in questo caso le operazioni vengono \"smistate\" dal nodo switch sui vari msg.topic",
        "info": "",
        "x": 380,
        "y": 400,
        "wires": []
    }
]
